---
export interface Props {
	icon: string;
	title: string;
	skills: string[];
}

const { icon, title, skills } = Astro.props;
---

<div class="list-group__item">
	<Fragment set:html={icon} />
	<h3>{title}</h3>
	{skills.map((skill) => <p class="">{skill}</p>)}
</div>

<style>
	h3 {
		margin-block: var(--space-xs);
	}
	p:not(:last-child) {
		margin-block-end: 0.5rem;
	}

	svg {
		fill: var(--clr-primary-200);
	}
</style>
