---
export interface Props {
  icon: string;
  title: string;
  skills: string[];
}

const { icon, title, skills } = Astro.props;
---

<div class="block-column">
  <Fragment set:html={icon} />
  <div style="height: 20px" aria-hidden="true" class="block-spacer"></div>
  <h3 class="has-base-color has-text-color">{title}</h3>
  {skills.map((skill) => (
    <p class="has-base-color has-text-color">{skill}</p>
  ))}
</div>
