.btn {
	display: inline-block;
	background: var(--clr-primary-200);
	color: #fff;
	border-radius: 100vmax;
	border: 2px solid var(--clr-primary-200);
	padding: 1em 3em;
	cursor: pointer;
	line-height: 24px;
	font-size: var(--fs-md);
	font-weight: 700;
	color: var(--clr-primary-400);
	text-decoration: none;
	transition:
		background-color 0.25s ease-in-out,
		color 0.25s ease-in-out;

	&:is(:hover, :focus-visible) {
		background: var(--clr-primary-500);
		color: var(--clr-primary-200);
	}

	&:is(:focus-visible) {
		outline: none;
		box-shadow:
			0 0 0 3px var(--clr-primary-400),
			0 0 0 5px var(--clr-primary-200);
	}
}

.btn--outline {
	background: transparent;
	border: 2px solid var(--clr-primary-200);
	color: var(--clr-primary-200);
}
