.header-icon {
	padding: 8px 0 8px 12px;
	background: none;
	border: 0;
	display: flex;
	color: inherit;
	position: relative;
	z-index: 9999;
}

.header-icon:hover {
	opacity: 0.75;
}

.header-icon svg {
	width: 18px;
	height: 18px;
}

.nav {
	display: flex;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 600;
	z-index: 1;
}

.nav li {
	border-top: 1px solid var(--clr-primary-500);
}

.nav a {
	display: block;
	padding: var(--space-xs);
	font-size: var(--fs-sm);
	color: inherit;
	text-decoration: none;
	border-radius: var(--border-radius);
	transition: opacity 0.25s ease-in-out;
	opacity: 1;
}

.nav a:hover {
	text-decoration: none;
}

.nav .menu {
	box-shadow: var(--shadow);
	border-bottom: 1px solid var(--clr-primary-500);
}

.menu {
	display: block;
	z-index: 1000;
	position: fixed;
	inset: 0 0 0 30%;
	padding: min(30vh, 7rem) 2em;
	background: var(--clr-primary-400);
	transform: translateX(100%);
	transition: transform 500ms ease-in-out;
}

.is-open > .menu {
	display: block;
	z-index: 1000;
	position: fixed;
	height: 100vh;
	height: 100dvh;
	inset: 0 0 0 30%;
	padding: min(30vh, 7rem) 2em;
	background: var(--clr-primary-400);
	backdrop-filter: blur(1rem);
	transform: translateX(100%);
	transition: transform 500ms ease-in-out;
}

.is-open > .menu[aria-expanded='true'] {
	transform: translateX(0%);
}

.menu-toggle {
	background-image: url('/img/hamburger-menu.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 1.5rem;
	aspect-ratio: 1;
	margin: 0 0.5rem;
	outline: 0;
}

.menu-toggle[aria-expanded='true'] {
	background-image: url('/img/close.svg');
}

.menu-toggle svg {
	width: 1.5rem;
	height: 1.5rem;
}

.light-theme .menu-toggle {
	background-image: url('/img/hamburger-menu.svg');
}

.light-theme .menu-toggle[aria-expanded='true'] {
	background-image: url('/img/close.svg');
}

.dark-theme .menu-toggle {
	background-image: url('/img/hamburger-menu-drk.svg');
}

.dark-theme .menu-toggle[aria-expanded='true'] {
	background-image: url('/img/close-drk.svg');
}

@media (prefers-color-scheme: dark) {
	.menu-toggle {
		background-image: url('/img/hamburger-menu-drk.svg');
	}
	.menu-toggle[aria-expanded='true'] {
		background-image: url('/img/close-drk.svg');
	}
}

@media (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.nav .menu {
		box-shadow: none;
		display: flex;
		align-items: center;
		gap: 2rem;
		transform: unset;
		position: unset;
		padding: unset;
		background: unset;
	}
	.nav li {
		position: relative;
	}
	.nav .menu,
	.nav .menu > li,
	.nav li:first-child {
		border: none;
	}
	.nav li:is(:hover, :focus-within) > a {
		opacity: 0.7;
	}
}
