.social-container {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
	padding-block: var(--space-s);
}

.social-container img {
	width: 24px;
	aspect-ratio: 1;
	mix-blend-mode: screen;
}

.light-theme .social-container img {
	mix-blend-mode: normal;
}

.social-container a {
	padding: 0.7em;
}

.social-container a:hover {
	opacity: 0.75;
}
