:root {
	--container: 1134px;
	--font-body: "Roboto Mono", monospace, "Helvetica Neue", sans-serif;
	--font-heading: "Heebo", "Helvetica Neue", sans-serif;
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 30px;
	--text-4xl: 36px;
	--text-5xl: 48px;
	--text-6xl: 64px;
	--color-accent: #685d4a;
	--color-dark: #1a202c;
	--color-base: #4a5568;
	--color-gray: #a0aec0;
	--color-light: #e2e8f0;
	--color-lighter: #edf2f7;
	--color-lightest: #f7fafc;
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);

	--shadow-color: 195deg 5% 59%;
	--shadow-elevation-low: -0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.34),
		-0.8px 1.1px 1.5px -1.2px hsl(var(--shadow-color) / 0.34),
		-2px 2.6px 3.7px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium: -0.5px 0.6px 0.9px
			hsl(var(--shadow-color) / 0.36),
		-1.6px 2.1px 3px -0.8px hsl(var(--shadow-color) / 0.36),
		-4.1px 5.3px 7.5px -1.7px hsl(var(--shadow-color) / 0.36),
		-9.9px 12.9px 18.3px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high: -0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.34),
		-2.9px 3.8px 5.4px -0.4px hsl(var(--shadow-color) / 0.34),
		-5.4px 7px 9.9px -0.7px hsl(var(--shadow-color) / 0.34),
		-8.9px 11.6px 16.4px -1.1px hsl(var(--shadow-color) / 0.34),
		-14.1px 18.5px 26.2px -1.4px hsl(var(--shadow-color) / 0.34),
		-22.1px 28.9px 40.9px -1.8px hsl(var(--shadow-color) / 0.34),
		-33.6px 43.9px 62.2px -2.1px hsl(var(--shadow-color) / 0.34),
		-49.5px 64.6px 91.6px -2.5px hsl(var(--shadow-color) / 0.34);

	--tracking-wide: 0.025em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;
}
html {
	scroll-behavior: smooth;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
a {
	background-color: transparent;
}
img {
	border-style: none;
}
button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
}
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
body {
	font-family: var(--font-body);
	line-height: 1.5;
	color: var(--color-base);
}
h1,
h2,
h3 {
	clear: both;
	color: var(--color-dark);
	margin: 0 0 1.5rem;
	line-height: 1;
	font-weight: 700;
}
h1 {
	font-size: var(--text-3xl);
}
h2 {
	font-size: var(--text-2xl);
}
h3 {
	font-size: var(--text-xl);
}
input,
select,
textarea {
	font-size: var(--text-md);
	text-indent: 1rem;
}
select:focus,
textarea:focus,
input:focus {
	outline: none;
	box-shadow: 0 0 0 3px var(--color-lightest), 0 0 0 5px var(--color-base);
}
a {
	color: var(--color-accent);
	text-decoration: none;
	transition: all 0.25s;
}
a:hover {
	text-decoration: underline;
}
body {
	box-sizing: border-box;
	word-break: break-word;
	background: #fff;
	overflow-x: hidden;
}
:focus {
	outline: 1px dotted;
}
*,
:after,
:before {
	box-sizing: inherit;
}
button {
	background: var(--color-base);
	color: var(--color-lightest);
	border-radius: 0;
	border: 1px solid transparent;
	padding: 8px 12px;
	cursor: pointer;
	line-height: 24px;
	font-size: var(--text-md);
	font-weight: 700;
	transition: all 0.25s;
}
button:hover {
	text-decoration: none;
	opacity: 0.75;
}

.loader {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-lighter);
	z-index: 99999;
	transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
	opacity: 0;
	visibility: hidden;
}

.loader::after {
	content: "";
	width: 4.6em;
	height: 4.6em;
	border: 0.9em solid var(--color-gray);
	border-top-color: var(--color-base);
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}

.logo {
	width: 45px;
	height: auto;
}
figure,
p,
ul {
	margin: 0 0 1.5em;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul {
	padding-left: 2rem;
}
img,
svg {
	height: auto;
}
img,
svg {
	max-width: 100%;
}
.skills svg {
	fill: var(--color-base);
}
.icon {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: var(--color-base);
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}
.container {
	display: block;
}
.container {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
}
.content {
	padding-top: 48px;
	padding-bottom: 48px;
}
.page-template-wide .content {
	padding-top: 0;
	padding-bottom: 0;
}
.block-button {
	box-shadow: var(--shadow-elevation-medium);
	transition: box-shadow 350ms ease-out;
}
.block-button:hover {
	box-shadow: var(--shadow-elevation-low);
}
.block-button__link {
	background: var(--color-accent);
	color: #fff;
	border-radius: 0;
	border: 1px solid transparent;
	padding: 8px 22px;
	cursor: pointer;
	line-height: 24px;
	font-size: var(--text-md);
	font-weight: 700;
	transition: all 0.25s;
}
.block-button__link:hover {
	text-decoration: none;
	opacity: 0.75;
}
.is-style-outline {
	color: var(--color-base);
}
.block-cover .is-style-outline {
	color: #fff;
}
.is-style-outline .block-button__link {
	padding-top: 7px;
	padding-bottom: 7px;
	background: transparent;
	border: 2px solid;
}
.has-drop-cap:not(:focus):first-letter {
	font-size: 4em;
	font-weight: 400;
	margin: 6px 12px 0 0;
}
.has-md-font-size {
	font-size: var(--text-md);
}
.has-lg-font-size {
	font-size: var(--text-lg);
}
.has-2-xl-font-size {
	font-size: var(--text-2xl);
}
.has-3-xl-font-size {
	font-size: var(--text-3xl);
}
.has-4-xl-font-size {
	font-size: var(--text-4xl);
}
.has-5-xl-font-size {
	font-size: var(--text-5xl);
}
.has-6-xl-font-size {
	font-size: var(--text-6xl);
}
.has-base-background-color {
	background-color: var(--color-base);
}
.has-base-color {
	color: var(--color-base);
}
.has-dark-color {
	color: var(--color-dark);
}
.has-light-background-color {
	background-color: var(--color-light);
}

.has-4-xl-font-size,
.has-3-xl-font-size,
.has-2-xl-font-size {
	font-family: var(--font-heading);
}

.alignfull,
.alignwide {
	--width: 100vw;
	width: var(--width);
	max-width: var(--width);
	margin-left: calc(50% - var(--width) / 2);
	margin-right: calc(50% - var(--width) / 2);
}
.alignwide {
	--width: calc(100vw - 24px);
}
@media (min-width: 1280px) {
	.alignwide {
		--width: calc(var(--container) - 24px);
	}
}
.block-button {
	margin-bottom: 1.5em;
}
.header-full .header-inner {
	max-width: none;
}
.progress-container {
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.progress-bar {
	height: 5px;
	background: var(--color-dark);
	background: linear-gradient(
		90deg,
		var(--color-dark) 0%,
		var(--color-base) 35%,
		var(--color-gray) 100%
	);
	width: 0%;
}
.header {
	border-bottom: 1px solid var(--color-light);
}
.header-inner {
	display: flex;
	background: transparent;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
}
.header-inner-color {
	background-color: rgba(255, 255, 255, 0.7);
}
.header-sticky .header {
	width: 100vw;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 9999;
	transition: top 300ms ease-out;
}
.header-transparent .site-title a:hove {
	opacity: 0.75;
}
.branding {
	display: flex;
	z-index: 1;
	margin-right: auto;
}
.custom-logo-link {
	margin-right: 12px;
}
.custom-logo {
	display: block;
}
.hide-site-name .site-name {
	display: none;
}
.site-title {
	font-size: var(--text-xl);
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: var(--tracking-wide);
	margin: 0;
}
.site-title a {
	color: var(--color-dark);
	text-decoration: none;
}
.header-icon {
	padding: 8px 0 8px 12px;
	background: none;
	border: 0;
	display: flex;
	color: inherit;
	position: relative;
	z-index: 9999;
}
.header-icon:hover {
	opacity: 0.75;
}
.header-icon svg {
	width: 18px;
	height: 18px;
}
.nav {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: var(--text-sm);
	font-weight: 600;
	z-index: 1;
}

.nav li {
	border-top: 1px solid var(--color-light);
}
.nav a {
	display: block;
	padding: 12px;
	color: inherit;
}
.nav a:hover {
	text-decoration: none;
}
.nav .menu {
	box-shadow: var(--shadow-md);
	border-bottom: 1px solid var(--color-light);
}

.menu {
	display: block;
	z-index: 1000;
	position: fixed;
	inset: 0 0 0 30%;
	padding: min(30vh, 7rem) 2em;
	background: var(--color-lightest);
	backdrop-filter: blur(1rem);
	transform: translateX(100%);
	transition: transform 500ms ease-in-out;
}

.is-open > .menu {
	display: block;
	z-index: 1000;
	position: fixed;
	inset: 0 0 0 30%;
	padding: min(30vh, 7rem) 2em;
	background: var(--color-lightest);
	backdrop-filter: blur(1rem);
	transform: translateX(100%);
	transition: transform 500ms ease-in-out;
}

.is-open > .menu[aria-expanded="true"] {
	transform: translateX(0%);
}

.header,
.header-bottom {
	border: 0;
}
.header-sticky .header,
.header-sticky.menu-bottom .header-bottom {
	height: 0;
}

.header-img {
	min-height: 100vh;
	background-color: var(--color-base);
	background: url("../img/bg_triad.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

.main-heading {
	margin-bottom: 0;
	font-family: Heebo;
	font-size: clamp(var(--text-5xl), 10vw + 1rem, var(--text-6xl));
}

.main-intro-text {
	margin-top: 0.75em;
	margin-bottom: 3em;
	font-size: clamp(1rem, 1.3rem, 1.5rem);
}

.block-media-text .block-media-text__content {
	padding-top: 2em;
}

p.has-text-color {
	opacity: 0.75;
}

.skills-top-row,
.skills-bottom-row {
	text-align: center;
}
.menu-toggle {
	background: url("../img/hamburger-menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 24px;
	aspect-ratio: 1;
}
.menu-toggle[aria-expanded="true"] {
	background: url("../img/close.svg");
}
.menu-toggle svg {
	width: 24px;
	height: 24px;
}
.contact-form-container {
	width: 95vw;
	margin: 0 auto;
}
.contact-form {
	text-align: center;
}
.contact-form fieldset {
	border: 0;
}
.contact-form fieldset > div {
	text-align: left;
}
.contact-form legend {
	display: none;
	opacity: 0;
}
.contact-form label {
	text-align: left;
}
.contact-form input,
.contact-form textarea {
	width: 100%;
	min-height: 2.8rem;
	font-family: inherit;
}
.contact-form textarea {
	height: 8.45rem;
}
.floating-group {
	position: relative;
	margin-bottom: 2em;
}
.floating-label {
	position: absolute;
	top: 50%;
	left: 1rem;
	font-size: var(--text-md);
	color: var(--color-gray);
	transform: translateY(-50%);
	transition: top 210ms ease-in, color 210ms ease-in;
}
.floating-label-msg {
	position: absolute;
	top: 1.5rem;
}

textarea:focus + .floating-label,
input:focus + .floating-label,
textarea:valid + .floating-label,
input:valid + .floating-label {
	top: -1rem;
	color: var(--color-base);
	font-size: var(--text-xs);
}
.social-container {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.social-container img {
	width: 24px;
	aspect-ratio: 1;
}
@media (min-width: 1024px) {
	.main-intro-text {
		font-size: var(--text-md);
	}
	.menu-toggle {
		display: none;
	}
	.nav .menu {
		box-shadow: none;
		display: flex;
		align-items: center;
		transform: unset;
		position: unset;
		padding: unset;
		background: unset;
	}
	.nav li {
		position: relative;
	}
	.nav .menu,
	.nav .menu > li,
	.nav li:first-child {
		border: none;
	}
	.nav li:hover > a {
		color: var(--color-gray);
	}
	.contact-form-container {
		width: 55vw;
	}
}
.site-info {
	background: #fff;
	font-size: var(--text-sm);
	text-align: center;
	padding: 12px;
	border-top: 1px solid var(--color-light);
}
.go-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	right: 1.2em;
	bottom: 1em;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
}
.is-visible {
	opacity: 1;
	visibility: visible;
}
.go-to-top:hover {
	background: rgba(0, 0, 0, 0.3);
}
.go-to-top svg {
	stroke: #fff;
	width: 24px;
	height: 24px;
}

.gs_reveal {
	opacity: 0;
	visibility: hidden;
	will-change: auto, opacity;
}
