// Alignment Utilities
.mx-auto {
	margin-inline: auto;
}

.txt-center {
	text-align: center;
}

// Font Size Utilities
.fs-md {
	font-size: var(--fs-md);
}

.fs-lg {
	font-size: var(--fs-lg);
}

.fs-2xl {
	font-size: var(--fs-2xl);
}

.fs-3xl {
	font-size: var(--fs-3xl);
}

.fs-4xl {
	font-size: var(--fs-4xl);
}

.fs-5xl {
	font-size: var(--fs-5xl);
}

.fs-6xl {
	font-size: var(--fs-6xl);
}

// Color Utilities
.clr-base {
	color: var(--clr-primary-200);
}

// Background Utilities
.gradient-bg::before {
	content: '';
	position: fixed;
	inset: 0;
	background:
		radial-gradient(circle at 30% 20%, rgba(255, 0, 0, 0.4), transparent 50%),
		radial-gradient(circle at 70% 30%, rgba(255, 165, 0, 0.4), transparent 50%),
		radial-gradient(circle at 40% 70%, rgba(0, 0, 255, 0.4), transparent 50%),
		radial-gradient(circle at 80% 80%, rgba(255, 0, 255, 0.4), transparent 50%);
	filter: blur(80px);
	opacity: 0.6;
	z-index: -1;
}

// Space Utility
.space-xs {
	margin: var(--space-xs);
}

.space-sm {
	margin: var(--space-sm);
}

.space-md {
	margin: var(--space-md);
}

.space-lg {
	margin: var(--space-lg);
}

.space-xl {
	margin: var(--space-xl);
}

.space-2xl {
	margin: var(--space-2xl);
}

.space-3xl {
	margin: var(--space-3xl);
}

.pt-l {
	padding-block-start: var(--space-l);
}

.pt-xl {
	padding-block-start: var(--space-xl);
}

.pt-2xl {
	padding-block-start: var(--space-2xl);
}

.pt-3xl {
	padding-block-start: var(--space-3xl);
}

.pt-s-l {
	padding-block-start: var(--space-s-l);
}

// Fade Out Utility
.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease;
}
