---
import '../scss/main.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/img/favicon.svg" type="image/svg+xml" sizes="any" />
		<link
			rel="icon"
			href="/img/favicon-32.png"
			type="image/png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="/img/favicon-192.png"
			type="image/png"
			sizes="192x192"
		/>
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/img/favicon-192.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
